# Demographic Data Analyzer

In [47]:
import pandas as pd

In [48]:
df=pd.read_csv('adult.data.csv')

In [49]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [50]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [99]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [100]:
average_age_men = df[df['sex']=='Male']['age'].mean()
average_age_men

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [53]:
(sum(df['education']=='Bachelors') / df.shape[0])*100

16.44605509658794

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [101]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])] # People with advanced studies will first be filtered

(higher_education[higher_education['salary']=='>50K'].shape[0] / higher_education.shape[0])*100

46.535843011613935

In [103]:
 lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

(lower_education[lower_education['salary']=='>50K'].shape[0] / lower_education.shape[0])*100

17.3713601914639

What is the minimum number of hours a person works per week?

In [55]:
df['hours-per-week'].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [73]:
num_min_workers = df[df['hours-per-week']==df['hours-per-week'].min()] # People who work the minimum hours


(num_min_workers[num_min_workers['salary']=='>50K'].shape[0] / num_min_workers.shape[0])*100

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [88]:
richest_per_country = df[df['salary']=='>50K']['native-country'].value_counts() 

total_per_country = df['native-country'].value_counts()


percentage_per_country = (richest_per_country / total_per_country) * 100

highest_earning_country = percentage_per_country.idxmax()

highest_earning_country_percentage = percentage_per_country.max()

Identify the most popular occupation for those who earn >50K in India.

In [97]:
rich_indian = df[(df['salary']=='>50K') & (df['native-country']=='India')]


rich_indian['occupation'].mode()[0]

'Prof-specialty'